*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


.verde{
    height: 100px;
    background: green;
}

.giallo{
    height: 100px;
    background-color: yellow;
}

.blu{
    height: 100px;
    background-color: blue;
}

.rosso{
    height: 100px;
    background-color: red;
}
